<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- jdbc.properties文件  , 交给spring 加载 -->
	
	<!-- 设置开启二级缓存  --> 
	<!-- <settings>
 		<setting name="cacheEnabled" value="true"/>
	</settings> -->
	 
	<!-- 设置别名 -->
	<typeAliases>
 		<package name="com.zhiyou100.model"/>
 	</typeAliases>
	 
	<!-- 数据源交给Spring 托管  -->
	
	<!-- Mapper 加载 交给Spring 托管  -->
	
	
</configuration>